<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhx.ssp">

    <!--获取蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--获取蓝牙管理权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--6.0之后出的高级权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mode1"></activity>
        <activity android:name=".Mode2"></activity>
        <activity android:name=".MsgTable"
            android:theme="@style/MyTheme" />
        <activity android:name=".ExaminePage"
            android:theme="@style/MyTheme" />
        <activity android:name=".BluetoothActivity"></activity>
    </application>

</manifest>